*{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h5{
    color: white;
}
.card{
    border: 1px #AF3131 solid;
}
.menu{
    margin-top: 5vh;
}
.backet{
    margin-right: 2vw;
}
@media (max-width: 991px) {
    .backet{
        margin-bottom: 3vh;
        margin-left: 1.5vh;
    }
}
.p_buskcet{
    position: absolute;
    z-index: 1;
    top: 1.1vw;
}
.modal-body{
    padding: 1.4vw;
}
.card{
    position: relative;
    z-index: 2;
}
.sort{
    color: white;
    position: absolute;
    margin-top: 7vh;
    margin-left: 5vw;
}
.first-div-sort{
    display: flex;
    flex-direction: row;
}
.first-div-sort:hover{
    cursor: pointer;
}
.first-div-sort p{
    font-size: 22.5px;
}
.first-div-sort img{
    margin-left: 0.5vw;
    width: 38px;
    height: 38px;
}
.sort form{
    display: flex;
    flex-direction: column;
}
.sort form{
    opacity: 0;
    transition: 400ms;
}
.card{
    margin-bottom: 30px;
}
.card-style{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.filter-menu{
    margin-bottom: 1vw;
}

#service{
    width: 100%;
    padding: 70px 0;
    background: transparent;
}
.service-box{
    /* width: 70%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.service-box_1{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.img-menu{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#AF3131);
    opacity: 0;
    transition: 0.7s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.7s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;   
}
.single-service:hover .service-desc{
    bottom: 25%;
    opacity: 1;
}
@media screen and (max-width: 1399px) {
    .service-desc p{
        font-size: 1vw;
    }
    .service-desc h4{
        font-size: 1.6vw;
    }
    .service-desc img{
        width: 25px;
    }
    hr{
        margin: 5px auto;
    }
    .card-price{
        margin-bottom: 0.5vw;
        margin-top: -1vw;
    }
}
@media screen and (max-width: 770px) {
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc h4{
        font-size: 20px;
    }
    .service-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc{
        bottom: 20% !important;
    }
    .service-desc img{
        width: 30px;
    }
    .card-price{
        margin-bottom: 1.5vw;
        margin-top: 1vw;
    }
}