.nav-link{
    margin-left: 1.5vw;
}
.nav-link:hover{
    border-bottom: 2px solid #AF3131;
}
.search{
    background-color: transparent;
    border: #AF3131 2px solid;
    border-radius: 0;
}
.btn{
    background-color: transparent;
    border: #AF3131 2px solid;
    border-radius: 0;
    color: white;
}
.btn:focus{
    box-shadow: none;
}
.btn:hover{
    background-color: #AF3131;
    border-color: #AF3131;
    color: white;
}
.search-logo{
    background: transparent;
    z-index: -1;
    border: 2px #AF3131 solid;
    box-shadow: none;
    margin-right: 1vh;
}
.modal-content{
    color: white;
}
.section1{
    background-image: url(../images/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.div-sec-1{
    position: relative;
    top: 30vh;
}
.image-big-picture{
    width: 24vw;
}
.form-control{
    background-color: transparent;
    color: white;
    border: #AF3131 2px solid;
}
.form-control:focus{
    background-color: transparent;
    color: white;
    border: #AF3131 2px solid;
    box-shadow: none;
}
.active{
    border-bottom: #AF3131 2px solid;
}
.btn-close{
    background: url(../images/close.png);
}
.modal-header{
    border-bottom: #AF3131 1px solid;
}
.modal-footer{
    border-top: #AF3131 1px solid;
}
h1{
    color: white;
}
p{
    color: white;
}
.alert-danger{
    margin-top: 3vh;
}
h2{
    color: white;
    margin-top: 8vw;
    margin-bottom: 4vw;
}
.figure-caption{
    font-size: 20px;
    color: white;
}
.pop-flex{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.accordion-header{
    margin: 0;
}
.accordion-button{
    background-color: #212529;
    color: white;
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: #212529;
    box-shadow: none;
}
.accordion-collapse{
    background-color: #212529e7;
    color: white;
}
.accordion-item{
    border-color: #AF3131;
    background-color: #AF3131;
}
.accordion-button:focus{
    box-shadow: none;
    border-color: transparent;
}
form{
    color: white;
}
textarea{
    resize: none;
}
#btt{
    position: fixed;
    background-color: #212529;
    border: #AF3131 2px solid;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    padding: 0 25px;
    text-decoration: none;
    cursor: pointer;
    transition: 400ms;
    right: -100px;
    bottom: 20px;
}